{% extend base.html %}
{% load static %}
{% block content %}

<html>
    <head>
        <title>{{ object.name }}'s Resume</title>
        
        <link rel="stylesheet" type="text/css" href="static/resume.css" />
    </head>
    
    <body>
    <div class="container">
        <div class="row my-5 d-flex justify-content-center" id="hidediv">
            <h2 style="color: white">Your resume looks like this now</h2>
        </div>
        
        <div>
            <div class="col-12">
                <div class="row div_des">
                    <div class="col-sm-6">
                    {% for object in sales %}
                        <h3>{{ object.name }}</h3>
                        <h5>{{ object.dob }}</h5>
                        <h5><a href="mailto:{{ person.email }}">{{ object.email_id }}</a></h5>
                        <h5>{{ object.mobile_no }}</h5>
                        <h5>{{ object.address }}</h5>
        
       
        <div class="row">
                    <div class="col-sm-12">
                        <h5 class="my-2">
                            Objective
                        </h5>
                        <p class="text-justify">{{ object.objective }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="my-2">
                            Brief OverView
                        </h5>
                        <p class="text-justify">{{ object.brief_overview }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="my-2">
                            Education
                        </h5>
                        <div class="w-100">
                            <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">10th</th>
                              <th scope="col">12th</th>
                              <th scope="col">Graduation</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td scope="row">{{ object.tenth_marks }}</td>
                              <td scope="row">{{ object.twe_marks }}</td>
                              <td scope="row">{{ object.gradu_agg }}</td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="my-2">
                            Technical Certifications
                        </h5>
                        <p class="text-justify">{{ object.tech_certi }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="my-2">
                            Extra Curricular Activities
                        </h5>
                        <p class="text-justify">{{ object.extra_curri }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="my-2">
                            Projects Made
                        </h5>
                        <p class="text-justify">{{ object.project }}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
      {% endfor %}
        <div class="row d-flex justify-content-center my-5">
            <a href={% url 'pdf1' %} class="btn btn-block btn-outline-success font-weight-bold">Download as PDF</a>
        </div>
    </div>
    </body>
     
</html>
{% endblock %}
